body {
  color: rgb(0, 0, 0);
  font-family: monospace;
}
h1 {
  position: fixed;
  top: 0px;
  font-size: 10vw;
  color: rgb(0, 0, 0);
  font-family: "bold", sans-serif;
  font-weight: bold;
}
h2 {
  position: fixed;
  right: 5px;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  margin-top: 250px;
}
h3 {
  position: fixed;
  right: 5px;
  font-size: 3vw;
  color: rgb(195, 195, 195);
  margin-top: 300px;
}
h4 {
  position: fixed;
  right: 5px;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  margin-top: 300px;
}
.tilt-text {
  position: fixed;
  bottom: 200px;
  left: 0px;
  top: 500px;
  right: 200px;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  transform: rotate(45deg);
  margin-left: 400px;
  font-family: "bold", sans-serif;
}
.tilt-text-1 {
  position: fixed;
  bottom: 200px;
  left: 0px;
  top: 660px;
  right: 200px;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  transform: rotate(45deg);
  margin-left: 50px;
  font-family: "bold", sans-serif;
}
.tilt-text-2 {
  position: fixed;
  bottom: 200px;
  left: 0px;
  top: 550px;
  right: 150px;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  transform: rotate(45deg);
  margin-left: 50px;
  font-family: "bold", sans-serif;
}
.tilt-text-3 {
  position: fixed;
  bottom: 50px;
  left: 50px;
  top: 450px;
  right: 150px;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  transform: rotate(45deg);
  margin-left: 50px;
  font-family: "bold", sans-serif;
}
.tilt-text-4 {
  position: fixed;
  bottom: 50px;
  left: 200px;
  top: 400px;
  right: 200px;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  transform: rotate(45deg);
  margin-left: 50px;
  font-family: "bold", sans-serif;
}
