* {
  margin: 1px;
  padding: 0;
}

.grid-container {
  display: grid;
  height: 90vh;
  width: 80vw;

  grid-template-columns:
    2fr
    1fr 1fr 1fr; /* fr | 100px | auto */
  grid-template-rows: 1fr 1fr 190px 0px; /* auto | 100px 200px | repeat(2, 80px) */

  gap: 1px;
}

.cell {
  background: rgb(147, 23, 219);
  color: white;
  padding: 30px;
  text-align: center;
}

.cell-1 {
  border-radius: 100px;

  grid-row-start: 3;
  grid-row-end: span 1;

  border: 0px solid white;

  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.cell-2 {
  background-color: rgb(69, 111, 124);
  border-top-right-radius: 0px;
  border-bottom-left-radius: 100px;

  grid-row-start: 3;
  grid-row-end: span 1;

  grid-column-start: 2;
  grid-column-end: span 2;
}

.cell-3 {
  grid-row-start: 1;
  grid-row-end: span 1;

  grid-column-start: 1;
  grid-column-end: span 1;
}

.cell-4 {
  background-color: rgb(63, 63, 15);

  grid-row-start: 4;
  grid-row-end: span 5;

  grid-column-start: 3;
  grid-column-end: span 3;

  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
