* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Suisse Int'l", Tahoma, Geneva, Verdana, sans-serif; 
}

h1{
font-size: 90px;
text-align: right;
letter-spacing: -20px;
}

h2{
    font-weight: normal;
    font-size: 70px;
    letter-spacing: -20px;
}


.date{
    font-size: 50px;
    letter-spacing: 200px;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}




.address{
    font-size: 70px;
    letter-spacing: -10px;
}
